<footer class="footer">
    <div class="container-footer text-center">
        This Web App Is Made By &copy<a href="https://github.com/blacksourcecode?tab=overview&from=2016-12-01&to=2016-12-31&utf8=%E2%9C%93">Blacksourcecode</a>
    </div>
</footer>